@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    background: linear-gradient(180deg, #68c253, #223211);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #b2dcb2;
    border-radius: 2rem;
    width: 400px;
    height: 600px;
    box-shadow: 0 1cm 2cm rgba(0, 0, 1, 0.616);
    padding: 15px;
}

h2 {
    text-align: center;
    border-radius: 1rem;
    background-color:#7A9D54;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

#text-input-field {
    width: 100%;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

#add-button {
    padding: 7px 15px;
    border: none;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #7A9D54;
}

.todos-container {
    overflow-y: scroll;
}

.todo-item-container {
    display: flex;
    margin-bottom: 5px;
}

#todo-text {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1.5px;
    user-select: none;
}

.line-through {
    text-decoration: line-through;
    color: rgb(242, 40, 40);
}

#edit-button,
#delete-button {
    padding: 5px;
    border: none;
    background-color: transparent;
}